<div class="card h-100">
    <div class="card-header d-flex">
        <span class="flex-grow-1">Products</span>
        <label>
            <input
                class="form-check-input"
                type="checkbox"
                [ngModel]="displayCode"
                (ngModelChange)="displayCodeChange.emit($event)"
            />
            Display Product Code
        </label>
    </div>
    <ul class="list-group">
        @for (product of products; track product) {
        <li
            class="list-group-item d-flex align-items-center"
            [ngClass]="{ active: selectedProduct?.id === product.id }"
            (click)="productSelect.emit(product)"
        >
            <span class="flex-grow-1">
                {{ product.productName }}
                @if (displayCode) { ({{ product.productCode }}) }
            </span>
            @if (product.price) {
            <div class="mr-2">
                {{ product.price | currency }}
            </div>
            } @if (showCartBtn) {
            <span
                class="btn bi bi-cart-plus-fill text-primary"
                (click)="$event.stopPropagation(); addToCart.emit(product)"
            ></span>
            }
        </li>
        }
    </ul>
</div>
