<div class="d-flex flex-column h-100">
    <nav class="navbar navbar-light bg-light mb-4">
        <a class="navbar-brand">Cart</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                @if (productsFacade.hasCartItems()) {
                <div class="card-header d-flex">
                    <span class="flex-grow-1">Your shopping cart</span>
                </div>
                <ul class="list-group">
                    @for (item of productsFacade.cartItems(); track item.productId) {
                    <li class="list-group-item d-flex align-items-center">
                        <div class="flex-grow-1">
                            {{ item.productName }}
                            <span class="badge badge-primary badge-pill">
                                {{ item.amount }}
                            </span>
                        </div>
                        @if (item.total) {
                        <div class="mr-2">
                            {{ item.total | currency }}
                        </div>
                        }

                        <span
                            class="btn bi bi-trash-fill text-danger"
                            (click)="productsFacade.removeProductFromCart(item)"
                        ></span>
                    </li>
                    }
                </ul>
                <div class="card-footer">
                    <h5>Total: {{ productsFacade.cartTotalPrice() | currency }}</h5>
                </div>
                } @else {
                <h5 class="text-center text-muted">There is nothing in your shopping cart.</h5>
                }
            </div>
        </div>
    </div>
</div>
